html, body {
    margin: 0;
}

body {
    background-color: transparent;
    text-align: center;
}

.chart {
    with: 90%;
    height: 600px;
}

.chart.pie {
    height: 550px;
}

.tick text, .bb-legend-item text {
    fill: white;
}

.pie .bb-chart-arc text {
    font-size: 2.5em;
}

.bb line, .bb-axis .domain {
    stroke: #fff;
}

.bb-chart-arc .bb-gauge-value {
    stroke: #fff;
    transform: translateY(-25px);
}

.bb-shape.bb-line {
    stroke-width: 3px;
}

button {
    border: solid 2px #fff;
    border-radius: 20px;
    color: #fff;
    background-color: transparent;
    font-size: 1.7em;
    padding: 3px 10px;
}