<html ng-app>  <!-- (1) 하위 영역은 AnguarJS 어플리케이션으로 인식됨 -->
<head>
    <title>AngularJS</title>
    <!-- AngularJS 로딩 -->
    <script src="./lib/angular.min.js"></script>
    <style>
        body {background-color:transparent;color: yellow;text-align:center;}
        input {font-size:35px;}
    </style>
</head>
<body>
    <div>
        <!-- (2) 데이터 바인딩을 위해 사용되는 지시자로, 값으로 지정한 'name'은 모델의 이름으로 사용 -->
        <input type='text' ng-model='name' />

        <!-- (3) 데이터의 출력을 위한 템플릿 표현 식으로, 이중 중괄호로 묶어 사용한다. 이곳에 사용된 모델명인 'name'은 ng-model='name'과 바인딩 되어 처리된다. -->
        <h2>{{name}}</h2>
    </div>
</body>
</html>
